body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inherit: inherit;
  --font-montserrat: Montserrat;
  --font-lato: Lato;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-mid: 17px;
  --font-size-11xl: 30px;
  --font-size-17xl: 36px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray-100: #404040;
  --neutral-gray: #333;
  --color-black: #000;
  --color-steelblue: #485e81;

  /* Paddings */
  --padding-21xl: 40px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-154xl: 173px;
  --br-100xl-5: 119.5px;
}
